# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
data1=pd.Series(np.random.randint(1,5,100))
data2=pd.Series(np.random.randint(1,3,100))
data3=pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [6]:
all_data = pd.concat([data1, data2, data3], axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [16]:
all_data.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)

   bedrs  bathrs  price_sqr_meter
0      1       2            25165
1      4       2            13138
2      1       2            24365
3      4       1            17633
4      3       1            25657

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [10]:
bigcolumn = pd.DataFrame(pd.concat([data1, data2, data3],ignore_index=True))
bigcolumn

         0
0        2
1        4
2        4
3        1
4        4
..     ...
295  28734
296  26563
297  13026
298  14739
299  26168

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [26]:
!!!!!!!!!!!!

["'!!!!!!!!!!' is not recognized as an internal or external command,",
 'operable program or batch file.']

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [ ]:
!!!!!!!!!!!