# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
address=("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")
chipo=pd.read_csv(address,sep="\t")
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. How many products cost more than $10.00?

In [3]:
fun=lambda x : float(x[1:])
chipo.item_price = chipo.item_price.apply(fun)
chipo1 = chipo.drop_duplicates(['item_name','choice_description'])

In [22]:
result=chipo1[chipo1["quantity"]==1]
result[result["item_price"]>10]

682

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [27]:
chipo1 = chipo.drop_duplicates(['item_name','choice_description'])
chipo1=chipo1.sort_values(by = "item_price",ascending = False)
chipo1[["item_name","choice_description","item_price"]]

,item_name,choice_description,item_price
1254,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
409,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
1255,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75
3334,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07
281,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78
...,...,...,...
368,Canned Soft Drink,[Diet Coke],1.25
117,Canned Soda,[Diet Dr. Pepper],1.09
34,Bottled Water,NaN,1.09
126,Canned Soda,[Coca Cola],1.09
28,Canned Soda,[Dr. Pepper],1.09

### Step 6. Sort by the name of the item

In [33]:
chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [32]:
chipo.sort_values(by = "item_price",ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [45]:
chipo[chipo["item_name"]=="Veggie Salad Bowl"].quantity.sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [44]:
chipo[(chipo["item_name"]=="Canned Soda") & (chipo["quantity"]>1 )].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64